extends layout.admin.pug

block content  
  include nav.admin.pug
  
  div(class="page view clearfix")
    div(class="page-header clearfix")
      ol(class="heading")
        li
          a= "控制面板"
    div(class="row")

  script(src="../javascripts/admin.js")
  //- h1= title
  //- p Welcome to #{title}

//-   include db.config