
block content
    nav(class="navigation")
        ul(class="list")
            li
                a(class="item active" href="/admin")= '首页'
                    i    
            li
                a(class="item" href="/admin/role")= '角色管理'
                    i    
            li 
                a(class="item" href="/admin/user")= "用户管理"