extends layout.install.pug

block content  
  div(class="install")
      div(class="content md")
        include db.install.pug


  script(src="../javascripts/db.install.js")
  //- h1= title
  //- p Welcome to #{title}

//-   include db.config